*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../images/fondo2.jpg);
    background-size:cover;
    background-position: center;
    color: white;
}

[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.div__container--primaryDate input, .div__container--secondaryDate input,.div__container--amount input{
    height: 50px;
    cursor: pointer;
    outline: none;
    border: 3px solid rgb(142, 139, 139);
    color: white;
    backdrop-filter: blur(7px) saturate(9%);
    -webkit-backdrop-filter: blur(7px) saturate(9%);
    background-color: rgba(255, 255, 255, 0);
}

.button__apply{
    height: 6vh;}
h4{
    font-family: 'Tourney', cursive;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    text-shadow:  10px 7px 19px rgba(36, 0, 0, 1);
    
}

.div__container-dividier{
    height: 2px;
    border: 2px solid  rgba(142, 139, 139, 0.586);
    width: 80vw;
    -webkit-box-shadow: -1px 100px 166px -16px rgba(0,0,0,0.24);
-moz-box-shadow: -1px 100px 166px -16px rgba(0,0,0,0.24);
box-shadow: -1px 100px 166px -16px rgba(0,0,0,0.24);
}

footer{
    height: 15vh;
    text-shadow: 10px 7px 19px rgba(36, 0, 0, 1);
    color: rgb(217, 214, 214);
    font-weight: 400;
    
}
.div__container--contact-title{backdrop-filter: blur(7px) saturate(9%);
    -webkit-backdrop-filter: blur(7px) saturate(9%);
    background-color: rgba(33, 57, 119, 0.834); padding-top: 20px; padding-bottom: 40px;}
form{
    transform: translate(0px,-30px);
    color: white;
    backdrop-filter: blur(7px) saturate(9%);
    -webkit-backdrop-filter: blur(7px) saturate(9%);
    background-color: rgba(39, 38, 38, 0.627);
    border: 2px solid rgb(142, 139, 139);
}
input{height: 40px;
    backdrop-filter: blur(7px) saturate(0%);
    -webkit-backdrop-filter: blur(7px) saturate(0%);
    background-color: rgba(52, 52, 53, 0.69);
    color: white;
    border: none;
    border-bottom: 2px solid rgba(76, 75, 75, 0.553);
    cursor: pointer;
    padding-left: 10px} input::placeholder{font-size: 16px; color: rgb(200, 195, 195);} 
textarea{height: 230px;
    backdrop-filter: blur(7px) saturate(0%);
    -webkit-backdrop-filter: blur(7px) saturate(0%);
    background-color: rgba(52, 52, 53, 0.69);
    color: white;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid rgba(76, 75, 75, 0.553);
    cursor: pointer;
    padding-top: 5px;} textarea::placeholder{  font-size: 17px; color: rgb(200, 195, 195);}
